<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">文件共享</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="top_">
        <a class="nav-link" href="/home">首    页     <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="top_download">
        <a class="nav-link" href="/download/page#/list">下载</a>
      </li>
      <li class="nav-item" id="top_upload">
        <a class="nav-link" href="/upload/page#/list">上传</a>
      </li>
      <li class="nav-item" id="top_self">
        <a class="nav-link" href="/self/page">信息</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" action="/search">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline mt-2 mt-md-0" action="/logout" method="post">
    	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">退出登陆</button>
    </form>
  </div>
</nav>